.botones{
    background: none;
    padding: 10px;
    border: none;
    overflow: hidden;
    cursor: pointer;

    .iconos{
        width: 60px;
        height: 60px;
        color: white;
    }
}

