@use 'module/buttons';
@use 'module/style';

body{
    padding: 0%;
    margin: 0%;
    border: 0%;
    

    .container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
    
        .container__header{
            display: flex;
            flex-direction: row;
            justify-content: end;
            flex-wrap: wrap;
            width: 100%;
            background: none;
            font-size: 40px;
            li{
                list-style: none;
                padding-left: 30px;
                padding-right: 30px;
            }
        }
    
        .container__main{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 20px;
            border-radius: 20px;
            height: 800px;
            width: 600px;
            max-width: 1600px;
            
    
            .simon-dice{
                display: flex;
            }
        }
    }
}

